<section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                <div class="about-text">
                    <h1 class="animated animated-text">
                        <span class="mr-2">We</span>
                            <div class="animated-info">
                                <span class="animated-item">Design</span>
                                <span class="animated-item">Develop</span>
                                <span class="animated-item">Maintain</span>
                            </div>
                    </h1>

                    <p>Building a successful product is a challenge. I am highly energetic in user experience design, interfaces and web development.</p>
                    
                    <div class="custom-btn-group mt-4">
                      <a href="https://wa.me/yourphonenumber" class="btn custom-btn custom-btn-bg custom-btn-link"><i class="fab fa-whatsapp"></i> WhatsApp </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 col-12">
                <div class="about-image svg">
                    <img src="images/undraw/undraw_software_engineer_lvl5.svg" class="img-fluid" alt="svg image">
                </div>
            </div>

        </div>
    </div>
</section>