<section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                <div class="about-text">
                    <h1 class="animated animated-text">
                        <span class="mr-2">We</span>
                            <div class="animated-info">
                                <span class="animated-item">Design</span>
                                <span class="animated-item">Develop</span>
                                <span class="animated-item">Maintain</span>
                            </div>
                    </h1>

                    <p class="motto-text">Helping businesses thrive by transforming ideas into software solutions. We exist to bridge the gap between ideas and execution. Empowering organization with the tool needed to excel in the tech world</p>
                    <div class="custom-btn-group mt-4">
                      <a href="https://wa.me/qr/JRSOW7MPZVXGD1" class="btn custom-btn custom-btn-bg custom-btn-link"><i class="fab fa-whatsapp"></i> Message Us </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 col-12">
                <div class="about-image svg">
                    <img src="images/undraw/female_software_engineer.png" class="img-fluid" alt="Background image">
                </div>
            </div>

        </div>
    </div>
</section>