<section class="contact py-5" id="contact">
    <div class="container">
      <div class="row">


      <div class="col-lg-6 col-12">
        <div class="contact-form">
          <h2 class="mb-4">Interested to work together? Let's talk</h2>
        </div>
      </div>
      
        <div class="col-lg-5 mr-lg-5 col-12">
          <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
              <div class="contact-info-item">
                <h3 class="mb-3 text-white">Contact</h3>
                <p><a href="#"><i class="fab fa-whatsapp"></i> whatsApp </a></p>
                <p class="footer-text mb-0"><i class="fa-regular fa-envelope"></i> mobytesolutions@gmail.com </p>
              </div>
          </div>
      </div>


    </div>
  </div>
</section>
