<section class="project py-5" id="project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">What we've shipped 🚀🪐</h2>
        <p class="section-subtitle">A curated collection of projects that reflect creativity, problem-solving and real-world impact. Each build tells a story</p>
      </div>
    </div>
    <div class="row">
      <!-- Project 1 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://www.e-tkets.com/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image01.jpg" class="img-fluid" alt="Project 1">
          </div>
          <div class="project-content">
            <h3>qanda.lol</h3>
            <p>An event ticket platform currently operating in 🇬🇭🇳🇬🇺🇸. Helping users seamlessly discover, book, and manage events.</p>
          </div>
        </a>
      </div>

      <!-- Project 2 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://www.qanda.lol/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image03.png" class="img-fluid" alt="Project 2">
          </div>
          <div class="project-content">
            <h3>askme</h3>
            <p>A platform to make your audience engagement more interactive 🇬🇭🇳🇬🇺🇸.</p>
          </div>
        </a>
      </div>

      <!-- Project 3 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://dagogopollynfoundation.org/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image02.png" class="img-fluid" alt="Project 3">
          </div>
          <div class="project-content">
            <h3>dagogo pollyn foundation</h3>
            <p>The foundation focuses on creating lasting impact by supporting vulnerable individuals🌏</p>
          </div>
        </a>
      </div>

      <!-- Project 4 -->
      <!-- <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://kindlybook.com/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image04.png" class="img-fluid" alt="Project 4">
          </div>
          <div class="project-content">
            <h3>kindlybook</h3>
            <p>Free Booking Software for Businesses in Nigeria.🇳🇬</p>
          </div>
        </a>
      </div> -->

      <!-- Project 5 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://www.didijollof.store/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image05.png" class="img-fluid" alt="Project 5">
          </div>
          <div class="project-content">
            <h3>share a meal</h3>
            <p>An app for founders pitch their ideas, ideas get voted on. Idea gets invested in.🇬🇭</p>
          </div>
        </a>
      </div>
          <!-- Project 6 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://jetlinkflightsupport.com/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image06.png" class="img-fluid" alt="Project 5">
          </div>
          <div class="project-content">
            <h3>jetlink flight support</h3>
            <p>Jetlink Flight Support is a leading provider of aviation support services based in Accra.🇬🇭</p>
          </div>
        </a>
      </div>

       <!-- Project 7 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://talentcoop.io/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image07.png" class="img-fluid" alt="Project 4">
          </div>
          <div class="project-content">
            <h3>talent coop</h3>
            <p>A talent hub that prepares talent in talents in Africa and Asia for the job market.🇬🇭🇨🇳</p>
          </div>
        </a>
      </div>

      <!-- Project 8 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://foundfast.io/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image08.png" class="img-fluid" alt="Project 5">
          </div>
          <div class="project-content">
            <h3>foundfast</h3>
            <p>An app for founders pitch their ideas, ideas get voted on. Idea gets invested in. 🇭🇰🇨🇳</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>