<section class="project py-5" id="project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">What we've shipped 🚀🪐</h2>
        <p class="section-subtitle">A curated collection of projects that reflect creativity, problem-solving and real-world impact. Each build tells a story</p>
      </div>
    </div>
    <div class="row">
      <!-- Project 1 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="http://e-tkets.com/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image01.jpg" class="img-fluid" alt="Project 1">
          </div>
          <div class="project-content">
            <h3>e-tkets</h3>
            <p>An event ticket platform currently operating in 🇬🇭🇳🇬🇺🇸. Helping users seamlessly discover, book, and manage events.</p>
          </div>
        </a>
      </div>

      <!-- Project 2 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://www.qanda.lol/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image03.png" class="img-fluid" alt="Project 2">
          </div>
          <div class="project-content">
            <h3>qanda</h3>
            <p>A platform to make your audience engagement more interactive 🇬🇭🇳🇬🇺🇸.</p>
          </div>
        </a>
      </div>

      <!-- Project 3 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://dagogopollynfoundation.org/" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image02.png" class="img-fluid" alt="Project 3">
          </div>
          <div class="project-content">
            <h3>dagogo pollyn foundation</h3>
            <p>The foundation focuses on creating lasting impact by supporting vulnerable individuals</p>
          </div>
        </a>
      </div>

      <!-- Project 4 -->
      <!-- <div class="col-lg-4 col-md-6 mb-4">
        <a href="project-detail-4.html" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image04.png" class="img-fluid" alt="Project 4">
          </div>
          <div class="project-content">
            <h3>Project Name 4</h3>
            <p>Short description of the project. Highlight key features or technologies used.</p>
          </div>
        </a>
      </div> -->

      <!-- Project 5 -->
      <!-- <div class="col-lg-4 col-md-6 mb-4">
        <a href="project-detail-5.html" class="project-card">
          <div class="project-image">
            <img src="images/project/project-image05.png" class="img-fluid" alt="Project 5">
          </div>
          <div class="project-content">
            <h3>Project Name 5</h3>
            <p>Short description of the project. Highlight key features or technologies used.</p>
          </div>
        </a>
      </div> -->
    </div>
  </div>
</section>